@import url("https://fonts.googleapis.com/css2?family=Apple&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui" {
    /* This enables your custom theme and sets it as the default */
    themes:
        umwero --default,
        dark;
}

/* 1. Define the colors for Tailwind utilities (e.g., text-primary) */
@theme {
    --color-primary: #f9b21b; /* The Sun/Seed Gold */
    --color-secondary: #65b32e; /* The Leaf Green */
    --color-accent: #004d00; /* The Text/Dark Green */

    --color-base-100: #ffffff;
    --color-base-200: #f4f7f5;
    --color-base-300: #e2e8e5;
}

@plugin "daisyui/theme" {
    name: "umwero";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(98% 0.018 155.826);
    --color-base-200: oklch(92% 0.084 155.995);
    --color-base-300: oklch(62% 0.194 149.214);
    --color-base-content: oklch(26% 0.065 152.934);
    --color-primary: #f9b21b;
    --color-primary-content: oklch(97% 0.014 343.198);
    --color-secondary: #65b32e;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #004d00;
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.034 259.733);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: #0ea5e9;
    --color-info-content: oklch(98% 0.003 247.858);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(98% 0.003 247.858);
    --color-warning: oklch(55% 0.135 66.442);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(98% 0.003 247.858);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;
    --font-family: "Apple", sans-serif;
}

@theme inline {
    --font-apple: "Apple", sans-serif;
}

:root {
    --font-apple: "Apple", sans-serif;
}

@layer base {
    body {
        font-family: "Apple", sans-serif;
    }
}

.h1 {
    @apply text-5xl font-medium;
}

.h2 {
    @apply text-4xl font-medium;
}

.h3 {
    @apply text-3xl font-medium;
}

.h4 {
    @apply text-2xl font-medium;
}

.h5 {
    @apply text-xl font-medium;
}

.h6 {
    @apply text-lg font-medium;
}

.p {
    @apply text-xl text-base-content/80;
}

.p-accent {
    @apply text-xl  text-accent-content/80;
}
